<aside id="header">
    <nav>
	{{ $siteLangUrl := "/" | absLangURL }}
	<h1 id="title"><a href="{{ $siteLangUrl }}" >{{ .Site.Title }}</a></h1>
	<ul>
	    {{ range .Site.Menus.main.ByWeight -}}

	    {{ if .HasChildren }}
	    <h3>{{ .Name }} </h3>
	    <ul>
		{{range .Children }}
		<li>{{ .Pre }}<a href="{{ .URL }}" title="{{ .Title }}"> {{- .Name -}}</a>{{ .Post }}</li>
		{{ end }}
	    </ul>
	    {{else}}

		
	    <li>
		{{ .Pre }}<a href="{{$siteLangUrl}}{{ .URL }}" title="{{ .Title }}">{{- .Name -}}</a>{{ .Post }}
            </li> 
	    {{- end -}}
	    {{ end }}
	    <h3> Collections </h3>
	    {{ with .Site.GetPage "/collections" }}
	    {{ range .Pages }}
	    	    <li>
			<a href="{{ .RelPermalink  }}" title="{{ .Title }}">{{- .Name -}}</a>
		    </li>
		    {{end}}
		    {{end}}
	</ul>
	<h3 id="lngHeader">Languages</h3>
	<ul id="lng">
	    {{ range  .Site.Languages }}
	    <li style="display:inline;"><a href="/{{ . }}">{{  .}}</a></li>
	    {{ end }}
    </nav>

    </ul>

</aside>
